<section id="About" class="about">
    <h2 class="is-hidden"> </h2>
    <div class="about__container container">
        <div class="about__content overlay">
            <ul class="about__list">
                <li class="about__item1">15 years of experience</li>
                <li class="about__item2">30 thousand happy residents</li>
                <li class="about__item3">22 houses built</li>
                <li class="about__item4">9 awards</li>
            </ul>
        <div class="about__content">
                <h3 class="about__title">Philosophy of our company</h3>
                <p class="about__text">Residential complex “Nice view” is an island of tranquility, security and comfort.
                In our project, we created the opportunity to lead a measured life in the very center of the city.</p>
            </div>
        </div>
    </div>
    
</section>
